---
title: About
permalink: about

---

<!doctype html>
<html lang="en">

<head>{% include head.html %}</head>

  <body>
      <div class="container">

{% include header.html %}

{% include navbar.html %}

<br>
<br>

<h2>About this site</h2>


<hr>

<p>This is the companion website for an ongoing series of talks on the alarming escalation of anti-immigrant policies around the world. The first four talks have been focused on US immigration policy, but future talks will cover immigration policy a.</p> 

<p>The talks have explored the separation of children from their parents as a tool for deterrence, mass criminal prosecutions for immigration violations, the terrorization of minority communities by immigration police and unchecked extremist groups, the retreat from refugee protection, the attack on the Deferred Action for Childhood Arrivals policy, and the “Muslim ban” that Trump promised on his campaign trail. The talks have explored how the United States reached this point, including decades of self-reinforcing anti-immigrant policies and ballooning enforcement budgets under both Democratic and Republican administrations. They have provided overviews of the Trump administration’s immigration policies, highlighting the ways in which they differ from what has been seen previously, their impact on people’s lives, and ongoing efforts to challenge and resist them.</p>

<p>This site will also soon include a resource section with links to news articles and blogs, court filings, Congressional hearings, etc..</p>

      </div>

{% include footer.html %}

{% include bottom_script.html %}

  </body>
</html>




