---
title: The War on Immigrants
---

<!doctype html>
<html lang="en">

<head>{% include head.html %}
	{% include listjs.html %}
</head>

  <body>
      <div class="container">

{% include header.html %}
  
{% include navbar.html %}

<br><br>

<h2>Announcements</h2>
<br>

<b>UPCOMING TALK</b>
<img class="img-fluid" src="images/woi_2018_10_24.png">
<br>
<a href="images/woi_2018_10_24_flyer.png">Download Flyer</a>
<br>
<a href="images/waronimmigrants_poster_2018-10-24.pdf">Download Poster</a>

<br>
<br>

<h2>Latest Talk</h2>
<br>
<b>Video will be posted here soon</b>
<br>
<img class="img-fluid" src="images/war_on_immigrants_image_website.png">
<p>This talk provided updates on the impact of increasingly repressive anti-immigrant policies on Latino communities across the United States. <a href="https://www.alianzaamericas.org/profile/oscar-chacon/">Oscar Chacon</a> and <a href="https://www.alianzaamericas.org/profile/helena-olea/">Helena Olea</a> appeared by video to discuss their work on immigrants’ rights with <a href="https://www.alianzaamericas.org">Alianza Americas</a>, an organization focused on economic, racial, and social justice, humane migration policies, and the protection for children and families seeking refuge. </p>
<a href="images/waronimmigrants_image_2018-10-18.png">Download Flyer</a>
<br>
<a href="images/waronimmigrants_poster_2018-10-18.pdf">Download Poster</a>


<br>
<br>

<h2 id="featured">Featured Documentary</h2>
<b>Through the Wall</b><br>
An award-winning short documentary about a family separated by the US-Mexico border.<br>
Directed by Tim Nackashi<br>
Produced by Chelo Alvarez-Stehle and Tim Nackashi<br>
<div class="embed-responsive embed-responsive-16by9">
<iframe src="https://player.vimeo.com/video/166096911" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<br>
Background: <a href="https://www.theguardian.com/us-news/2016/mar/29/us-mexico-border-wall-trump-cruz-immigration-friendship-park">A wall apart: divided families meet at a single, tiny spot on the US-Mexico border</a>

<br>
<br>
<br>

<hr>

<h2 id="recent">Recent Articles</h2>

<div id="entry-list">


<div class="row">
<table class="table table-striped">

{% include table_head.html %}

	<tbody class="list">
	{% for source in site.data.sources %}
{% assign posttime = source.Date | date: '%s' %}
{% assign lastweek = 'now' | date: '%s' | minus : 604800 | date: '%s' %}

{% if posttime > lastweek %}

{% include table_body.html %}

{% endif %}

	{% endfor %}
	</tbody>
</table>
</div>



      </div>

{% include footer.html %}

{% include bottom_script.html %}

{% include table_script.html %}


  </body>
</html>

