---
title: The War on Immigrants
---

<!doctype html>
<html lang="en">

<head>{% include head.html %}</head>

  <body>
      <div class="container">

{% include header.html %}
  
{% include navbar.html %}

<br><br>

<b>LIVESTREAMING NOW</b>
<br>

        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fjohnrbpalmer%2Fvideos%2F10156682486289253%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        
<h2>Europe's Retreat from Refugee Protection and Fundamental Rights</h2>
<br>
<a href="https://twitter.com/cristinamas_">Cristina Mas</a><br>
Journalist, Ara

<br>
<br>

<a href="">Lorenzo Gabrielli</a><br>
Interdisciplinary Research Group on Immigration<br>
Department of Political and Social Sciences, UPF
<br>
<br>

Universitat Pompeu Fabra<br>
Room 24.104 (Mercè Rodoreda building, Ciutadella Campus)<br>
27 September 2018<br>
8:00-9:30 PM<br>
<br>

Free and Open to the Public

<br>
<br>

        
        
<p>This talk will cover the increasingly repressive immigration policies of the European Union and its member states. From militarized responses to migrants at sea to the criminalization of rescue operations, third country return agreements, and border externalization, Europe has taken a sharp turn away from any commitment to refugee protection and fundamental rights.</p>

<a href="images/war_on_immigrants_image_flyer.png">Download Poster</a>

<br>

<a href="images/WarOnImmigrants2018-09-27.pdf">Download Flyer</a>





      </div>

{% include footer.html %}

{% include bottom_script.html %}

  </body>
</html>

