---
title: The War on Immigrants
---

<!doctype html>
<html lang="en">

<head>{% include head.html %}</head>

  <body>
      <div class="container">

{% include header.html %}
  
{% include navbar.html %}

<br><br>

<h2>Announcements</h2>

<p>The next talk will be on Thursday, 18 October, 20:00-21:00. Details will be posted soon.</p>

<br>
<br>

<h2>Latest Talk</h2>
<br>
<h4><a href="talks#s272018">Europe's Retreat from Refugee Protection and Fundamental Rights</a></h4>
<br>
<a href="https://twitter.com/cristinamas_">Cristina Mas</a>,
Journalist, Ara, and <a href="">Lorenzo Gabrielli</a>,
Interdisciplinary Research Group on Immigration,
Department of Political and Social Sciences, UPF
<br>
<br>
<div class="embed-responsive embed-responsive-4by3">
        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fjohnrbpalmer%2Fvideos%2F10156682486289253%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
      
       </div>





      </div>

{% include footer.html %}

{% include bottom_script.html %}

  </body>
</html>

