---
title: Links
permalink: links
---


<!doctype html>
<html lang="en">

{% include head.html %}

  <body>
      <div class="container">

{% include header.html %}

{% include navbar.html %}

<br>
<br>

<h2>Links</h2>

<br>

<h4>Podcasts</h4>

<p><a href="http://tempesttossed.libsyn.com/">Tempest Tossed</a></p>

<h4>Blogs</h4>

<p><a href="https://migrantsatsea.org/">Migrants At Sea</a></p>

<p><a href="http://crimmigration.com/">Crimigration</a></p>


<p><a href="http://lawprofessors.typepad.com/immigration/">ImmigrationProf</a></p>


<h4>Visualizations</h4>

<p><a href="http://xpmethod.plaintext.in/torn-apart/">Torn Apart</a></p>




{% include footer.html %}

{% include bottom_script.html %}

  </body>
</html>




