---
title: General Resources
permalink: resources
---


<!doctype html>
<html lang="en">

<head>
{% include head.html %}
{% include listjs.html %}
</head>

  <body>
      <div class="container">

{% include header.html %}

{% include navbar.html %}

<br>
<br>

<h2>{{ page.title }}</h2>
<br>
<br>

<h4>Documentaries</h4>
<p><a href="https://vimeo.com/166096911">Through the Wall</a></p>

<br>
<br>

<h4>Podcasts</h4>

<p><a href="http://tempesttossed.libsyn.com/">Tempest Tossed</a></p>

<br>
<br>

<h4>Blogs</h4>

<p><a href="http://crimmigration.com/">Crimmigration</a></p>

<p><a href="http://stateswithoutnations.blogspot.com/">States Without Nations</a></p>

<p><a href="https://migrantsatsea.org/">Migrants At Sea</a></p>

<p><a href="https://stukarnes.wordpress.com/">STU Karnes Project</a></p>

<p><a href="https://www.justsecurity.org/tag/immigration/">Just Security</a></p>


<p><a href="http://lawprofessors.typepad.com/immigration/">ImmigrationProf</a></p>


<br>
<br>


<h4>Visualizations</h4>

<p><a href="https://www.immigrantdefenseproject.org/icewatch/">Immigrant Defense Project ICEWatch: ICE Raids Tactics Map</a></p>

<p><a href="http://xpmethod.plaintext.in/torn-apart/">Torn Apart</a></p>

<p><a href="https://projects.propublica.org/graphics/migrant-shelters-near-you">The Immigrant Children’s Shelters Near You</a></p>


<br>
<br>

<h4>Statistics</h4>

<p><a href="http://trac.syr.edu/immigration/">Transactional Records Access Clearinghouse</a></p>

<br>
<br>

<h2 id="all">All Sources</h2>

<div id="entry-list">

<div class="row" style="margin-bottom:10px;">
		<input type="text" class="search form-control" placeholder="Search" />
</div>

<div class="row">
<table class="table table-striped">

{% include table_head.html %}

	<tbody class="list">
	{% for source in site.data.sources %}

{% include table_body.html %}

	{% endfor %}
	</tbody>
</table>
</div>


{% include footer.html %}

{% include bottom_script.html %}

{% include table_script.html %}


  </body>
</html>




