---
title: Talks
permalink: talks

---

<!doctype html>
<html lang="en">

{% include head.html %}

  <body>
      <div class="container">

{% include header.html %}

{% include navbar.html %}

<br>
<br>

<h2>Talks</h2>


<hr>
<br>


<h4>30 July 2018</h4>
<p>Universitat Pompeu Fabra</p>
<p>John Palmer, Sociodemography Research Group and Interdisciplinary Research Group on Immigration</p>

<p>This talk provides updates on legal and political developments in the United States, including the situation of thousands of children forcibly separated from their parents by the government, the Supreme Court’s decision on Trump’s Muslim ban, the use of mass detention, criminal prosecution, and interior raids as tools for border control, and increasing threats against naturalized citizens.</p>

<h5>Slides</h5>
<div class="embed-responsive embed-responsive-16by9">
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vT2Ng80XaG3Hr6z6uU-pVSe2lFQKDPP8SQj1fvkRpU_HSNt8S7jZt6JGhALFskwfIKEKL9_NBExOJPb/embed?start=false&loop=false&delayms=3000" frameborder="0" width="560" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>

<br>

<h5>Video</h5>
<p>(Skip to minute 3:30 for start of talk)</p>

<div class="embed-responsive embed-responsive-4by3">
<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fjohnrbpalmer%2Fvideos%2F10156537321414253%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe> 
</div>

<hr>

<h4>13 June 2018</h4>
<p>Universitat Pompeu Fabra<br>
John Palmer, Sociodemography Research Group and Interdisciplinary Research Group on Immigration</p>

<p>This talk was offered in light of the dramatic escalation of anti-immigrant policies under the Trump administration, including the separation of children from their parents as a tool for deterrence, mass criminal prosecutions for immigration violations, the terrorization of minority communities by immigration police and unchecked extremist groups, the retreat from refugee protection, the attack on the Deferred Action for Childhood Arrivals policy, and continued attempts to impose the “Muslim ban” that Trump promised on his campaign trail. The talk explores how the United States reached this point, including decades of self-reinforcing anti-immigrant policies and ballooning enforcement budgets under both Democratic and Republican administrations. It provides an overview of the Trump administration’s immigration policies, highlighting the ways in which they differ from what has been seen previously, their impact on people’s lives, and ongoing efforts to challenge and resist them.</p>


<h5>Slides</h5>
<div class="embed-responsive embed-responsive-16by9">
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRje9YbQTrmRKGyrH8u4ThPDxWWYLTSy0bxaWrdSP6lnAdDYo3RL7SPJRR7rTICSOrl3oN5kKetzjuZ/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>

<br>
<br>
<hr>

<h4>29 March 2017</h4>
<p>Universitat de Barcelona<br>
John Palmer</p>

<h5>Slides</h5>

<div class="embed-responsive embed-responsive-16by9">
<iframe src="https://waronimmigrants.github.io/talk-2017-03-29" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>
<br>
<br>

<hr>

<h4>20 February 2017</h4>
<p>Universitat Pompeu Fabra<br>
John Palmer and Mohammed El-Bachouti</p>

<h5>Slides</h5>

<div class="embed-responsive embed-responsive-16by9">
<iframe src="https://waronimmigrants.github.io/talk-2017-02-20" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>



      </div>

{% include footer.html %}

{% include bottom_script.html %}

  </body>
</html>




