---
title: Talks
permalink: talks

---

<!doctype html>
<html lang="en">

<head>
{% include head.html %}
	{% include listjs.html %}

</head>

  <body>
      <div class="container">

{% include header.html %}

{% include navbar.html %}

<br>
<br>

<h2>Talks</h2>

<br>
<b>UPCOMING TALK</b>
<img class="img-fluid" src="images/war_on_immigrants_image_website.png">
<p>This talk will provide updates on the impact of increasingly repressive anti-immigrant policies on Latino communities across the United States. <a href="https://www.alianzaamericas.org/profile/oscar-chacon/">Oscar Chacon</a> and <a href="https://www.alianzaamericas.org/profile/helena-olea/">Helena Olea</a> will appear by video from Chicago to discuss their work on immigrants’ rights with <a href="https://www.alianzaamericas.org">Alianza Americas</a>, an organization focused on economic, racial, and social justice, humane migration policies, and the protection for children and families seeking refuge. </p>
<a href="images/waronimmigrants_image_2018-10-18.png">Download Flyer</a>
<br>
<a href="images/waronimmigrants_poster_2018-10-18.pdf">Download Poster</a>
<hr>

<h4 id="s272018">27 September 2018</h4>
<p>Universitat Pompeu Fabra</p>
<h4>Europe's Retreat from Refugee Protection and Fundamental Rights</h4>
<a href="https://twitter.com/cristinamas_">Cristina Mas</a>,
Journalist, Ara<br> 
<a href="">Lorenzo Gabrielli</a>,
Interdisciplinary Research Group on Immigration,
Department of Political and Social Sciences, UPF
<br>

<br>
<p>This talk covered the increasingly repressive immigration policies of the European Union and its member states. From militarized responses to migrants at sea to the criminalization of rescue operations, third country return agreements, and border externalization, Europe has taken a sharp turn away from any commitment to refugee protection and fundamental rights.</p>

<h5>Video</h5>
<div class="embed-responsive embed-responsive-4by3">
 <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fjohnrbpalmer%2Fvideos%2F10156682486289253%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
</div>

<h5>Slides</h5>
<div class="embed-responsive embed-responsive-4by3">

<iframe id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" allow="autoplay; fullscreen" width="550" height="400" src="https://prezi.com/embed/ob4qwcgrap_r/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWnNjdEVENDRhZDFNZGNIUE43MHdLNWpsdFJLb2ZHanI5bDZMblZmb0xaSWNmUkJEeVhDTm5PMWdRPT0&amp;landing_sign=N5lBvZRIpTUvujYgJOkMVnPCCAgd3oXDadcyRWgwF4M"></iframe>
</div>
<br>

<h5>Related Articles</h5>
<div id="entry-list">


<div class="row">
<table class="table table-striped">

{% include table_head.html %}

	<tbody class="list">
	{% for source in site.data.sources %}
	{% if source.Author contains "Mas, Cristina" or source.Author contains "Gabrielli, Lorenzo" %}

{% include table_body.html %}

{% endif %}

	{% endfor %}
	</tbody>
</table>
</div>

<h5>Other Material</h5>
<a href="images/war_on_immigrants_image_flyer.png">Poster</a>
<br>
<a href="images/WarOnImmigrants2018-09-27.pdf">Flyer</a>


<br>
<hr>
<br>


<h4>30 July 2018</h4>
<p>Universitat Pompeu Fabra</p>
<h4>Updates on the US government's systematic attack on the most basic human values</h4>
<p>John Palmer, Sociodemography Research Group and Interdisciplinary Research Group on Immigration</p>

<p>This talk provided updates on legal and political developments in the United States, including the situation of thousands of children forcibly separated from their parents by the government, the Supreme Court’s decision on Trump’s Muslim ban, the use of mass detention, criminal prosecution, and interior raids as tools for border control, and increasing threats against naturalized citizens.</p>


<h5>Video</h5>
<p>(Skip to minute 3:30 for start of talk)</p>

<div class="embed-responsive embed-responsive-4by3">
<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fjohnrbpalmer%2Fvideos%2F10156537321414253%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe> 
</div>

<h5>Slides</h5>
<div class="embed-responsive embed-responsive-16by9">
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vT2Ng80XaG3Hr6z6uU-pVSe2lFQKDPP8SQj1fvkRpU_HSNt8S7jZt6JGhALFskwfIKEKL9_NBExOJPb/embed?start=false&loop=false&delayms=3000" frameborder="0" width="560" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>

<br>
<hr>
<br>

<h4>13 June 2018</h4>
<p>Universitat Pompeu Fabra<br>
John Palmer, Sociodemography Research Group and Interdisciplinary Research Group on Immigration</p>

<p>This talk was offered in light of the dramatic escalation of anti-immigrant policies under the Trump administration, including the separation of children from their parents as a tool for deterrence, mass criminal prosecutions for immigration violations, the terrorization of minority communities by immigration police and unchecked extremist groups, the retreat from refugee protection, the attack on the Deferred Action for Childhood Arrivals policy, and continued attempts to impose the “Muslim ban” that Trump promised on his campaign trail. The talk explores how the United States reached this point, including decades of self-reinforcing anti-immigrant policies and ballooning enforcement budgets under both Democratic and Republican administrations. It provides an overview of the Trump administration’s immigration policies, highlighting the ways in which they differ from what has been seen previously, their impact on people’s lives, and ongoing efforts to challenge and resist them.</p>


<h5>Slides</h5>
<div class="embed-responsive embed-responsive-16by9">
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRje9YbQTrmRKGyrH8u4ThPDxWWYLTSy0bxaWrdSP6lnAdDYo3RL7SPJRR7rTICSOrl3oN5kKetzjuZ/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>

<br>
<hr>
<br>

<h4>29 March 2017</h4>
<p>Universitat de Barcelona<br>
John Palmer</p>

<h5>Slides</h5>

<div class="embed-responsive embed-responsive-16by9">
<iframe src="https://waronimmigrants.github.io/talk-2017-03-29" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>
<br>
<br>

<hr>

<h4>20 February 2017</h4>
<p>Universitat Pompeu Fabra<br>
John Palmer and Mohammed El-Bachouti</p>

<h5>Slides</h5>

<div class="embed-responsive embed-responsive-16by9">
<iframe src="https://waronimmigrants.github.io/talk-2017-02-20" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>



      </div>

{% include footer.html %}

{% include bottom_script.html %}

{% include table_script.html %}


  </body>
</html>




