      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="/">Home</a>
          <a class="p-2 text-muted" href="talks">Talks</a>
          <a class="p-2 text-muted" href="child-separation">Child Separation</a>
       	  <a class="p-2 text-muted" href="detention">Detention</a>
       	  <a class="p-2 text-muted" href="interior-enforcement">Interior Enforcement</a>
       	  <a class="p-2 text-muted" href="muslim-ban">Muslim Ban</a>
       	  <a class="p-2 text-muted" href="daca">DACA</a>
       	  <a class="p-2 text-muted" href="refugees">Refugees</a>
          <a class="p-2 text-muted" href="resources">General Resources</a>
        </nav>
      </div>
