<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

                  <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Talks
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="freedom">Upcoming</a>
          <a class="dropdown-item" href="privacy">30 July 2018</a>
          <a class="dropdown-item" href="expression">XXX</a>
          <a class="dropdown-item" href="political-rights">XXX</a>
          <a class="dropdown-item" href="fair-trials">XXX</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          US Issues
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="freedom">Detention</a>
          <a class="dropdown-item" href="privacy">Private and Family Life</a>
          <a class="dropdown-item" href="expression">Expression, Thought, and Conscience</a>
          <a class="dropdown-item" href="political-rights">Political Rights</a>
          <a class="dropdown-item" href="fair-trials">Fair Trials</a>
          <a class="dropdown-item" href="fair-trials">Remedies</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ECHR Violations</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Art. 3</a>
          <a class="dropdown-item" href="#">Art. 5</a>
          <a class="dropdown-item" href="#">Art. 6</a>
          <a class="dropdown-item" href="#">Art. 7</a>
          <a class="dropdown-item" href="#">Art. 8</a>
          <a class="dropdown-item" href="#">Art. 9</a>
          <a class="dropdown-item" href="#">Art. 10</a>
          <a class="dropdown-item" href="#">Art. 11</a>
          <a class="dropdown-item" href="#">Art. 13</a>
          <a class="dropdown-item" href="#">Art. 14</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Political Prisoners and Exiles</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Jordi Cuixart</a>
          <a class="dropdown-item" href="#">Jordi Sánchez</a>
          <a class="dropdown-item" href="#">Oriol Junqueras</a>
          <a class="dropdown-item" href="#">Joaquim Forn</a>
          <a class="dropdown-item" href="#">Dolors Bassa</a>
          <a class="dropdown-item" href="#">Raül Romeva</a>
          <a class="dropdown-item" href="#">Jordi Turull</a>
          <a class="dropdown-item" href="#">Josep Rull</a>
          <a class="dropdown-item" href="#">Carme Forcadell</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Carles Puigdemont</a>
          <a class="dropdown-item" href="#">Antoni Comin</a>
          <a class="dropdown-item" href="#">Lluis Puig</a>
          <a class="dropdown-item" href="#">Meritxell Serret</a>
          <a class="dropdown-item" href="#">Clara Ponsatí</a>
          <a class="dropdown-item" href="#">Anna Gabriel</a>
          <a class="dropdown-item" href="#">Marta Rovira</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cases</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="SCT-20907-2017">Supreme Court: 20907/2017</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Audiencia Nacional: XXX</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Resources</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</nav>

